/* // Bomberman ///////////////////////////////////////////////////////////// */

body {
  width: 960px;
  margin: 40px auto;
  background-color: rgba(31, 40, 161, 0.44);
}

#bomberman {
  position: absolute;
  width: 20px;
  height: 25px;
  background-color: red;
  left: 235px;
  top: 110px;
}

/* FOR full version, still on testing

#bomberman {
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url(../images/spritestand.gif);
  background-size: contain;
  left: 220px;
  top: 101px;
}

.moving {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../images/spritewalk.gif);
  background-size: contain;
} */

.box {
  background-color: rgba(114, 144, 96, 0.73);
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.box:nth-child(even) {
  /* background-color: #ccc;
  color: #000; */
}

.wrapper {
  border: 0.5em inset grey;
  width: 946px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(19, 50px);
  grid-template-rows: repeat(11, 50px);
  grid-auto-flow: column;
}

.border {
  background-color: black;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.walls {
  background-color: rgb(20, 20, 20);
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.brick {
  background-image: url(../images/brick.jpg);
  background-size: contain;
  /* background-color: #444; */
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}
