* {
  margin: 0;
}


/* // Bomberman ///////////////////////////////////////////////////////////// */

body {
  width: 960px;
  margin: 40px auto;
  background-color: rgba(31, 40, 161, 0.44);
}

/* For multiplayer future feature ////////////////////////////////////////////*/
#player {

}

/* bomberman player //////////////////////////////////////////////////////////*/
.bomberman {
  position: absolute;
  /* background-image: url(../images/spritestand.gif); */
  background-size: contain;
  /* left: 219px; */
  /* top: 100px; */
  width: 50px;
  height: 50px;
}

.idle {
  position: absolute;
  background-image: url(../images/spritestand.gif);
  background-size: contain;
  width: 50px;
  height: 50px;
}

.walking {
  position: absolute;
  background-image: url(../images/spritewalk.gif);
  background-size: contain;
  width: 50px;
  height: 50px;
}


.dead {
  background-image: url(../images/rest.gif);
  background-size: contain;
  width: 50px;
  height: 50px;
}

/* Monsters //////////////////////////////////////////////////////////////// */
.monster {
  position: absolute;
  background-image: url(../images/mon1.gif);
  background-size: contain;
  /* left: 219px; */
  /* top: 100px; */
  width: 50px;
  height: 50px;
}

/* Game features //////////////////////////////////////////////////////////  */
.burger {
  /* position: absolute; */
  background-image: url(../images/burger.gif);
  background-size: contain;
  /* background-color: #444; */
  /* color: #fff; */
  /* border-radius: 5px; */
  /* left: 219px;
  top: 100px; */
  width: 50px;
  height: 50px;
  /* padding: 10px; */
}

.fire {
  background-image: url(../images/explosion.gif);
  background-size: contain;
  width: 50px;
  height: 50px;
}

.powerup {
  background-image: url(../images/powerup.gif);
  background-size: contain;
  width: 50px;
  height: 50px;
}



/* Version 1 -- mostly testing impenetrable objects location purposes */
.top {
  position: absolute;
  /* left: 219px; */
  /* top: 48px; */
  width: 50px;
  height: 50px;
  /* background-color: rgba(255, 0, 0, 0.4); */
  z-index: 1;
}

.right {
  position: absolute;
  /* left: 271px; */
  /* top: 100px; */
  width: 50px;
  height: 50px;
  /* background-color: rgba(255, 0, 0, 0.4); */
  z-index: 1;
}

.bottom {
  position: absolute;
  /* left: 219px; */
  /* top: 152px; */
  width: 50px;
  height: 50px;
  /* background-color: rgba(255, 0, 0, 0.4); */
  z-index: 1;
}

.left {
  position: absolute;
  /* left: 167px; */
  /* top: 100px; */
  width: 50px;
  height: 50px;
  /* background-color: rgba(255, 0, 0, 0.4); */
  z-index: 1;
}

/* making board, borders, walls and bricks ////////////////////////////////  */

.box {
  background-color: rgba(114, 144, 96, 0.73);
  color: #fff;
  border-radius: 5px;
  /* padding: 10px; */
}

.box:nth-child(even) {
  /* background-color: #ccc;
  color: #000; */
}

.wrapper {
  border: 0.5em inset grey;
  width: 946px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(19, 50px);
  grid-template-rows: repeat(11, 50px);
  grid-auto-flow: column;
}

.border {
  background-color: black;
  color: #fff;
  border-radius: 5px;
  /* padding: 10px; */
}

.walls {
  background-color: rgb(20, 20, 20);
  color: #fff;
  border-radius: 5px;
  /* padding: 10px; */
}

.brick {
  background-image: url(../images/brick.jpg);
  background-size: contain;
  /* background-color: #444; */
  color: #fff;
  border-radius: 5px;
  /* padding: 10px; */
}
